<!-- Login Form def needs some slight work to say the least lol -->
<div id="login_form">
  <h1>
    <u>Log In Below</u>
  </h1>
  <p id="alert" style="color: red;">
    <%= alert %>
  </p>
  <%= form_tag sessions_path do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email, params[:email], :class => "email_input" %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password, params[:password],  :class => "password_input_login" %>
    </div>
    <div class="actions">
      <%= submit_tag "Log In", :class => "login_btn" %>
    </div>
  <% end %>
</div>
