<% if current_user %>
  <li class="list-group-item">
    <div class="panel panel-primary panel-default">
      <div class="panel-heading">
      <br/>
        <div class="panel panel-info" style="width: auto; padding: 5px;">
          <p class="comment-body"><%= comment.body %></p>
          <p class="comment-created-at"><%= comment.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%A %l:%M %P at %B %Y") %></p>
          <p class="comment-author">from <%= comment.author %></p>
          <br/>
          <% if comment.user_id == current_user.id %>
            <div class="div-wrapper">
              <%= link_to "Delete", comment_comment_path(comment.id), method: :delete, class: "del_comment_link bg-success btn btn-link" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <%= form_for [comment, Comment.new] do |c| %>
      <%= c.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= c.submit "Reply"  %>
    <% end %>
    <br/>
    </div>
    <ul class="list-group panel panel-info">
        <%= render partial: 'comments/comment', collection: comment.comments %>
    </ul>
  </li>
<% end %>


<!-- Comments Section for replying -->
