<!-- Location Search Bar -->
<section class="form-group align-right" style="display: block;">
  <%= bootstrap_form_tag location: locations_path, method: :get do |p| %>
    <br/>
    <br/>
    <br/>
    <br/>
    <%= p.text_field :search, placeholder: "search shelters", hide_label: true, value: params[:search], autofocus: true  %>
  <% end %>
  <%= link_to "Clear", users_path, class: "btn btn-primary" %>
</section>

<div id="locations_container">
  <% if params[:search] %>
    <h1 style="color: black">Search Results for <%= "#{params[:search]}" %></h1>
      <table class="table table-hover"cellpadding="10">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
      </tr>

      <% for location in @locations %>
        <tr>
          <td><%= link_to "#{location.name}", location, class: 'show_loc_link' %></td>
          <td><%= link_to "#{location.address}", location, class: 'show_loc_link' %></td>
          <td><%= location.latitude %></td>
          <td><%= location.longitude %></td>
          <td><%= link_to "Remove", location_path(location.id), method: :delete, class: "del_location_link"%></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @locations %>
  <% else %>
      <!-- Include normal html landing page options for both logged in users and guests of the site  -->
  <legend>Got a place in mind? Look it up!</legend>
  <div class="map-container">
    <input id="origin-input" class="controls" type="text"
        placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text"
        placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit">
      <label for="changemode-transit">Transit</label>

      <input type="radio" name="type" id="changemode-driving">
      <label for="changemode-driving">Driving</label>
    </div>

    <div id="map"></div>
  </div>
    <% end %>
</div>
